In [4]:
import pandas as pd
dataset = pd.read_csv(r'E:\cognilium Internship\Data Wrangling with python\04.Cleaning Structured Data\4.2\dataset.csv')
dataset

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Phone,Income
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Male,Editor,Gigashots,Israel,610-741-3882,46476.638080
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,221-725-8860,54174.687950
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Associate Professor,Dabfeed,Vietnam,303-720-8280,5449.873348
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Male,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,673-794-9917,46784.630880
4,5,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Account Executive,Buzzshare,China,709-146-6263,57486.495560
...,...,...,...,...,...,...,...,...,...,...
995,996,Willie Gravestone,1/17/2018,wgravestonern@typepad.com,Female,Junior Executive,Cogilith,China,717-137-5667,33868.404190
996,997,Samara McRitchie,12/10/2018,smcritchiero@wikispaces.com,Female,Media Manager II,Edgewire,Philippines,583-849-4461,46290.780360
997,998,Joceline Josefowicz,10/18/2018,jjosefowiczrp@statcounter.com,Female,Design Engineer,Mynte,Puerto Rico,934-388-0702,24202.032530
998,999,Andrei Lestor,1/16/2018,alestorrq@storify.com,Female,Senior Editor,Reallinks,China,706-201-1239,54316.293830
999,1000,Nikkie Langtry,10/30/2018,nlangtryrr@sciencedaily.com,Female,Financial Advisor,Linklinks,Armenia,612-915-7537,56477.000000

In [5]:
columns_name = list(dataset.columns)
columns_name

['id',
 'Full Name',
 'Date of Birth',
 'email',
 'gender',
 'Job',
 'Company',
 'Country',
 'Phone',
 'Income']

In [6]:
dataset.shape

(1000, 10)

In [7]:
dataset.dtypes

id                 int64
Full Name         object
Date of Birth     object
email             object
gender            object
Job               object
Company           object
Country           object
Phone             object
Income           float64
dtype: object

In [8]:
dataset['id'] = dataset['id'].astype('float')

dataset.dtypes

id               float64
Full Name         object
Date of Birth     object
email             object
gender            object
Job               object
Company           object
Country           object
Phone             object
Income           float64
dtype: object

In [9]:
rows = dataset[10:17]
rows

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Phone,Income
10,11.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Recruiting Manager,Topiczoom,Japan,197-554-9978,47119.174780
11,12.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Editor,Avamm,NaN,961-960-2015,8917.447432
12,13.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Senior Editor,Oyonder,Guinea,611-343-2038,55804.925690
13,14.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Computer Systems Analyst II,Innotype,Ukraine,824-632-8357,44191.473130
14,15.0,Alexandro Sember,4/8/2018,asembere@ibm.com,Male,Environmental Specialist,Wikizz,Russia,732-359-1122,NaN
15,16.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Chemical Engineer,Youopia,China,346-841-8556,44481.765190
16,17.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,VP Product Management,Trilia,Brazil,846-236-6609,55719.962160